/**header**/
.nav-contact {
  background-color: $primary;
  padding: 1rem 0;
}
.nav-contact-item a {
  margin-right: 1rem;
  font-size: 1.2rem;
  color: $textWhite;
}

.nav-contact-item1 a {
  margin-left: 1rem;
  font-size: 1.2rem;
  color: $textWhite;
}

.navbar {
  background-color: $bg;
  padding: 1rem 0;
}
.brand {
  font-size: 2rem;
  font-weight: 900;
  color: $textDark;
  strong {
    color: $primary;
  }
}
.nav-item a {
  margin-left: 1.5rem;
  color: $textDark;
  font-size: 1.2rem;
  font-weight: 700;
  i {
    margin-left: 0.5rem;
  }
}

.nav-item {
  .active {
    background-color: #eb5f61;
    color: $textWhite;
    padding: 1.9rem 1.2rem;
  }
}

/**hero**/

.hero {
  background: url(../media/banner-1.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  h1 {
    font-size: 4rem;
    font-weight: 900;
    text-transform: uppercase;
    color: $textDark;
  }
  h4 {
    font-size: 1.7rem;
    font-weight: 600;
    color: $textDark;
  }
}
.hero-container {
  width: 40%;
  float: left;
  margin-left: 10rem;
  margin-top: 16rem;
}

/**services**/
  .article-margin{
    margin-top: 5rem;
  }

.service-item {
  padding: 3rem 1rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  .img-service {
    width: 30%;
    height: auto;
  }
  h3{
    font-size: 2rem;
    font-weight: 600;
    color: $textDark;
  }
}

/**solution**/

.solution{
  background-color: $bg;
  .heading{
    text-transform: none;
  }
  .btn{
    background-color: $bg;
  }
}


/**consulting**/

.consulting{
  i{
    font-size: 5rem;
    color: $primary;
  }
  .heading{
    font-size: 2.5rem;
    padding: 1rem 2rem;
    text-transform: none;
  }
  img{
    border-radius: 6px;
  }
}

/**quote**/

.quote{
  background-color: $primary;
  color: $textWhite;
  padding: 4rem 0 ;
  margin: 3rem 0;
  h5{
    font-size: 1.3rem;
  }
  p{
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.7;
  }
  .btn-primary{
    border: 1px solid $textWhite;
    font-weight: 100;
  }
}

/**leader*/

.leader{
  padding-top: 6rem;
  .heading{
    margin-top: 6rem;
    text-transform: none;
  }
}

/**client**/
.client{
  background-color: $bg;
  position: relative;
  img{
    margin-top: 2rem; 
    filter: grayscale(100%);
    width: 10%;
  }
}
/**footer**/

.footer{
  background-color: #343a40;
  h4{
    font-size: 1.6rem;
    font-weight: 500;
    color: $textLight;
    margin-bottom: 1.5rem;
  }
  a{
    color: $textLight;
    letter-spacing: 1.6;
  }
  li{
    margin-top: 1rem;
  }
  .site{
    margin-left: 4rem;
  }
  .footer-nav{
    a{
      margin-right: 2rem;
    }
  }
}